body {
	font-variant:small-caps;
	font-family:sans-serif;
}

h1 {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 210%;
	color: #000000;
	letter-spacing: 10px;
	line-height: 0.8em;
	font-weight: bold;
	font-style: normal;
	text-transform: uppercase;
}

button {
  -webkit-border-radius: 12;
  -moz-border-radius: 12;
  border-radius: 12px;
  color: #000000;
  font-size: 19px;
  background: #ffffff;
  padding: 10px 20px 10px 20px;
  border: solid #000000 1px;
  text-decoration: none;
  font-variant: small-caps;
}

button:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}

#myCanvas {
	border:1px solid #000000;
}

div.centre {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

div.layout {
	text-align: center;
}

#winner {
	font-family: Impact, Charcoal, sans-serif;
	font-size: 220%;
	color: #3b3b3b;
	letter-spacing: 3px;
	line-height: 1.2em;
	font-weight: normal;
	font-style: normal;
	text-transform: none;
}
